<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome</h1>
    </div>
    <div class="container login">
      Existing User?
      <button mat-raised-button color="primary" (click)="login()">Login</button>
    </div>
    <div class="container register">
      New User?
      <button mat-raised-button color="accent" (click)="register()">
        Register
      </button>
    </div>
  </body>
</html>
